<c-row>
    <c-col sm="4">
        <form cForm>
            <label cLabel>Name</label>
            <div class="input-container">
                <div class="input-container">
                    <input cFormControl type="text" readonly />
                    <button cButton class="icon py-3 px-4 " variant="ghost" color="secondary">
                        <span>
                            <svg [cIcon]="icons.cilPencil" title="List Icon"></svg>
                        </span>

                    </button>
                </div>
                <button cButton class="icon py-3 px-4 " variant="ghost" color="secondary">
                    <span>
                        <svg [cIcon]="icons.cilPencil" title="List Icon"></svg>
                    </span>

                </button>
            </div>
        </form>
    </c-col>
    <c-col sm="4">
        <form cForm>
            <label cLabel>Email</label>
            <div class="input-container">
                <div class="input-container">
                    <input cFormControl type="text" readonly />
                    <button cButton class="icon py-3 px-4 " variant="ghost" color="secondary">
                        <span>
                            <svg [cIcon]="icons.cilPencil" title="List Icon"></svg>
                        </span>

                    </button>
                </div>
                <button cButton class="icon py-3 px-4 " variant="ghost" color="secondary">
                    <span>
                        <svg [cIcon]="icons.cilPencil" title="List Icon"></svg>
                    </span>

                </button>
            </div>
        </form>
    </c-col>
    <c-col sm="4">
        <form cForm>
            <label cLabel>Phone Number</label>
            <div class="input-container">
                <input cFormControl type="text" readonly />
                <button cButton class="icon py-3 px-4 " variant="ghost" color="secondary">
                    <span>
                        <svg [cIcon]="icons.cilPencil" title="List Icon"></svg>
                    </span>

                </button>
            </div>
        </form>
    </c-col>

</c-row>
<c-row class="mt-2">
    <c-col sm="3">
        <form cForm>
            <label cLabel>Member Id</label>
            <div class="input-container">
                <input cFormControl type="text" readonly />
                <button cButton class="icon py-3 px-4 " variant="ghost" color="secondary">
                    <span>
                        <svg [cIcon]="icons.cilPencil" title="List Icon"></svg>
                    </span>

                </button>
            </div>
        </form>
    </c-col>
    <c-col sm="3">
        <form cForm>
            <label cLabel>Gender</label>
            <div class="input-container">
                <input cFormControl type="text" readonly />
                <button cButton class="icon py-3 px-4 " variant="ghost" color="secondary">
                    <span>
                        <svg [cIcon]="icons.cilPencil" title="List Icon"></svg>
                    </span>

                </button>
            </div>
        </form>
    </c-col>
    <c-col sm="3">
        <form cForm>
            <label cLabel>Active</label>
            <div class="input-container">
                <input cFormControl type="text" readonly />
                <button cButton class="icon py-3 px-4 " variant="ghost" color="secondary">
                    <span>
                        <svg [cIcon]="icons.cilPencil" title="List Icon"></svg>
                    </span>

                </button>
            </div>
        </form>
    </c-col>
    <c-col sm="3">
        <form cForm>
            <label cLabel>Barcode</label>
            <div class="input-container">
                <input cFormControl type="text" readonly />
                <button cButton class="icon py-3 px-4 " variant="ghost" color="secondary">
                    <span>
                        <svg [cIcon]="icons.cilPencil" title="List Icon"></svg>
                    </span>

                </button>
            </div>
        </form>
    </c-col>
</c-row>
<c-row class="mt-2">
    <c-col sm="3">
        <form cForm>
            <label cLabel>Image</label>
            <div class="input-container">
                <div class="input-container">
                    <input cFormControl type="text" readonly />
                    <button cButton class="icon py-3 px-4 " variant="ghost" color="secondary">
                        <span>
                            <svg [cIcon]="icons.cilPencil" title="List Icon"></svg>
                        </span>

                    </button>
                </div>
                <button cButton class="icon py-3 px-4 " variant="ghost" color="secondary">
                    <span>
                        <svg [cIcon]="icons.cilPencil" title="List Icon"></svg>
                    </span>

                </button>
            </div>

        </form>
    </c-col>
    <c-col sm="5">
        <form cForm>
            <label cLabel>Notes</label>
            <div class="input-container">
                <input cFormControl type="text" readonly />
                <button cButton class="icon py-3 px-4 " variant="ghost" color="secondary">
                    <span>
                        <svg [cIcon]="icons.cilPencil" title="List Icon"></svg>
                    </span>

                </button>
            </div>
        </form>
    </c-col>
    <c-col sm="4">
        <form cForm>
            <label cLabel>Sport Member</label>
            <div class="input-container">
                <input cFormControl type="text" readonly />
                <button cButton class="icon py-3 px-4 " variant="ghost" color="secondary">
                    <span>
                        <svg [cIcon]="icons.cilPencil" title="List Icon"></svg>
                    </span>

                </button>
            </div>
        </form>
    </c-col>
</c-row>
 <c-row>
    <div class="divider"></div>
 </c-row>
 